.buttonCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
   
   
}

.sumar{
    margin-right: 8px;
    height: 25px;
    width: 25px;
    background-color: #8B0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
}
.restar{
    margin-left: 8px;
    height: 25px;
    width: 25px;
    background-color: #8B0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800; 
    color: white;  
    
}

.agregarCarrito{
    margin: 5px;
    padding-bottom: 10px;
    height: 30px;
    padding-left: 8px;
}

.addCart{
   background-color: #8B0000;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 800;
   color: white

}