.buttonCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
   
}

.contador{
    width: 100px;
    
}

.sumar{
    margin-right: 5px;
}
.restar{
    margin-left: 5px;
}

.agregarCarrito{
    margin: 5px;
}